.card {
    width: 50%;
    background-color: #211f1f;
    /* color: var(--bg-color); */
}

.card-button {
    background-color: var(--bg-color);
    border: 2px solid white;
    color: white;
    font-family: inherit;
    display: inline-block;
    line-height: 2.5em;
    margin: 20px 0px;
    position: relative;
    overflow: hidden;
    transition: background-color .5s;
    z-index: 1;
    font-size: 17px;
    border-radius: 6px;
    font-weight: 500;
    padding: 0px 20px;
}

.card-button a {
    color: white;
}

.card-button:hover {
    background-color: white;
    color: var(--bg-color);
}

.card-button:hover a {
    color: var(--bg-color);
}

.usedSkills {
    width: 45vw;
    display: flex;
    justify-content: space-around;
}

.card .icons {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
}

.card .icons p {
    font-size: 18px;
}

.card .icons .icon {
    width: 100%;
    font-size: 60px;
}


@media (max-width: 768px) {

    .card-button {
        padding: 0px 20px;
        margin: 10px 0px;
    }

    .usedSkills {
        width: 95vw;
    }

    .card .icons .icon {
        width: 90%;
    }

    .card .icons p {
        font-size: 10px;
    }

    .card .icons .icon {
        font-size: 20px;
    }
}