@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    max-width: 100vw;
    min-height: 100vh;
    background-color: #fb7430;
    overflow-x: hidden;
    display: flex;
    justify-content: center;
    color: white;
}

a {
    text-decoration: none;
    color: #fb7430;
}

p {
    text-align: justify;
}

nav {
    width: 100vw;
    height: 60px;
    background-color: #fb7430;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 20px;
    position: fixed;
    z-index: 4;
}

nav h1 {
    width: 100vw;
    display: flex;
    align-items: center;
    cursor: pointer;
}

nav h1 img {
    width: 40px;
    margin-right: 10px;
}

nav p {
    font-size: 20px;
}

nav ul {
    display: flex;
    height: 70px;
    transition: height 0.5s ease-in-out;
    align-items: center;
}

nav ul li {
    display: inline-block;
    list-style: none;
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;
}


nav ul li:hover {
    background-color: white;
    color: #fb7430;
}

nav #hamburgeIcon {
    display: none;
}


.header {
    padding-top: 40px;
    margin-top: 40px;
}

#image {
    width: 80%;
}

.round-image {
    border-radius: 50%;
}

.row {
    width: 100vw;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 0px auto;
    background-color: #fb7430;
    padding: 0px 20px;
}


.col {
    width: 50%;
    object-fit: contain;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 20px;
    text-align: center;
}

img {
    width: 550px;
}

.col h1 {
    font-size: 48px;
}


.col p {
    font-size: 28px;
    padding: 10px;
    text-align: center;
}

/*? About CSS */

.about,
.skills .row,
.about .row {
    background-color: #211f1f;
    color: white;
}

.skills .row {
    padding-bottom: 30px;
}

.horizontalbar h1 {
    text-align: center;
    padding-top: 60px;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
}

img {
    width: 500px;
}

.about .text-color {
    display: inline;
    color: #fb7430;
}

.about a {
    text-decoration: none;
    border-bottom: 2px solid #fb7430;
}

.about p {
    text-align: justify;
}



/*?  Experience & Skills CSS */

.skills h1 {
    padding: 20px;
}

.skills p {
    text-align: justify;
}


/*? Projects CSS */

.projects {
    width: 100vw;
}


/*? Footer CSS */

.footer {
    padding: 50px 0px;
    background-color: #211f1f;
    text-align: center;
}

.footer .row {
    background-color: #211f1f;
}

.footer .col {
    width: 100%;
}

.footer .icons {
    width: 100vw;
}

.footer .icons .icon {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.icons {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    align-items: center;
}

.icons .icon {
    cursor: pointer;
}

.icons .icon svg {
    font-size: 68px;
}

.icons .icon p {
    font-size: 18px;
}

footer {
    width: 100vw;
    padding: 0px 10px;
    background-color: #211f1f;
    padding-bottom: 20px;
}

footer p {
    text-align: center;
}



/* X-Small devices (portrait phones, less than 576px) */
@media (min-width: 300px) {
    h1 {
        font-size: 28px;
    }
}


/* Small devices (landscape phones, 576px and up) */
@media (max-width: 640px) {}

/* Medium devices (tablets, 768px and up) */
@media (max-width: 768px) {

    nav #hamburgeIcon {
        font-size: 38px;
        display: block;
    }

    nav ul {
        width: 100%;
        display: none;
        display: block;
        height: 0px;
        position: absolute;
        top: 70px;
        left: 50%;
        transform: translateX(-50%);
        text-align: center;
        overflow-y: hidden;
    }

    nav ul li {
        margin: 0px;
        width: 93vw;
        background-color: white;
        color: #fb7430;
        padding: 10px 20px;
        border-radius: 0px;
    }

    .col {
        width: 100%;
    }

    .col h1 {
        font-size: 30px;
    }

    .col p {
        font-size: 16px;
        padding: 10px;
        text-align: center;
    }

    .row {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        align-items: start;
        padding: 0px;
    }

    .row h1 {
        font-size: 18px;
    }

    .row .col {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .row .col p {
        font-size: 18px;
    }

    img {
        width: 90vw;
    }

    .about .col {
        width: 100vw;
    }

    .horizontalbar h1 {
        padding-top: 20px;
    }

    .horizontalbar hr {
        margin-bottom: 20px;
    }

    /* .icons .icon {
        width: 20%;
    } */

    .icons .icon svg {
        font-size: 38px;
    }

    .icons .icon p {
        font-size: 12px;
    }

    .footer {
        padding: 10px 0px;
    }
}

@media (min-width: 768px) {
    img {
        width: 40vw;
    }
}

@media (min-width: 450px) {
    .col h1 {
        font-size: 35px;
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    .col {
        padding-right: 30px;
    }
}

/* X-Large devices (large desktops, 1200px and up) */
@media (max-width: 1200px) {}

/* XX-Large devices (larger desktops, 1400px and up) */
@media (max-width: 1400px) {}